@model rsi.Entities.Login

@{
    Layout = "~/Areas/backEnd/Views/Shared/_LayoutLogInAccess.cshtml";
}

<div class="col-md-4">
    <div class="loginPage">
        <h3 Style="color:white;">
            Troca de senha
        </h3>
        <h2 Style="color:white;"><b>Rosana Scott - Indica</b></h2>
        <br />
        <div class="panel" style="padding:20px;">
            <div class="panel-heading">
                @if (ViewBag.UserObj != null)
                {
                    <div class="col-md-8">
                        @if (!String.IsNullOrEmpty(ViewBag.UserObj.UserFirstName))
                        {
                            <h3>Olá, @ViewBag.UserObj.UserFirstName</h3>
                        }
                    </div>
                    <div class="col-md-4 pull-right">
                        @if (!String.IsNullOrEmpty(ViewBag.UserObj.FileName))
                        {
                            string _img = rsi.Entities.configurations.thePaths.usersImages + ViewBag.UserObj.FileName;
                            <img src="@Url.Content(_img)" class="img-rounded img-responsive" width="50" />
                            <br />
                        }
                    </div>
                }

                <div class="row">
                    <div class="col-md-12">
                        <p class="login-box-msg"><b>por gentileza, insira os dados solicitados...</b></p>
                    </div>
                </div>

            </div>

            <div class="panel-body">
                @using (Html.BeginForm("ChangePassword", "UserAccounts", FormMethod.Post, new { i = "commentForm", enctype = "multipart/form-data", @class = "form-horizontal", id = "login" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <fieldset>
                        <div class="form-group has-feedback">
                            @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = "email" } })
                            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>

                        <div class="form-group has-feedback">
                            @Html.EditorFor(model => model.UserOldPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "senha atual / temporária" } })
                            @Html.ValidationMessageFor(model => model.UserOldPassword, "", new { @class = "text-danger" })
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>

                        <div class="form-group has-feedback">
                            @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "nova senha de acesso" } })
                            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>

                        <div class="form-group has-feedback">
                            @Html.EditorFor(model => model.UserPasswordReType, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "confirmação da senha" } })
                            @Html.ValidationMessageFor(model => model.UserPasswordReType, "", new { @class = "text-danger" })
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>

                        <div class="pull-right">
                            <button type="submit" class="btn btn-warning btn-block btn-flat">alterar senha</button>
                        </div>

                        <div class="pull-left">
                            <a href="" class="btn btn-default btn-block btn-flat">cancelar</a>
                        </div>
                    </fieldset>
                }
            </div>

            <div class="panel-footer">
                <a href="#" class="text-center">solicitar desbloqueio de usuário</a><br />
            </div>

        </div>
    </div>
</div>
<script src="~/Areas/backEnd/assets/stylesAndScripts/AdminLTE/plugins/jquery/js/jQuery-2.1.4.min.js"></script>
@section scripts{
    <!-- validação dos formulários (jquery validate)-->
    <script src="~/Areas/backEnd/assets/stylesAndScripts/AdminLTE/plugins/jquery-validate/js/jquery.validate.min.js"></script>
    <script src="~/Areas/backEnd/assets/stylesAndScripts/AdminLTE/plugins/jquery-validate/js/jquery.validate.unobtrusive.min.js"></script>
}