@model rsi.Entities.AdvertiserDetails.Advertiser_SubCategory
@using rsi.Entities.configurations
@using rsi.Apps;

<div class="modal-dialog">
    <div class="modal-content ">
        <div class="modal-header">
            <a href="" type="button" class="close linkum" data-dismiss="modal" aria-hidden="true">
                ×
            </a>
            <h3 class="modal-title" id="myModalLabel">
                @{
                    string _stx = "";

                    if (Model.St == rsi.Entities.status.off)
                    {
                        _stx = "glyphicon glyphicon-thumbs-down text-danger";
                    }
                    else if (Model.St == rsi.Entities.status.on)
                    {
                        _stx = "glyphicon glyphicon-thumbs-up text-primary";
                    }
                    else
                    {
                        _stx = "glyphicon glyphicon-exclamation-sign";
                    }
                }
                #&nbsp;&nbsp;anunciante: @ViewBag.AdvertiserObj.Id - @ViewBag.AdvertiserObj.Name
            </h3>
            <h5><i class="@_stx"></i>&nbsp; sub-categoria #@Model.Id (@ViewBag.OperationTitle)</h5>
        </div>

        <div class="modal-body">

            <div class="col-md-12">                
                    @using (Html.BeginForm("_modalView", "Advertisers_SubCategories", FormMethod.Post, new { i = "commentForm", enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="form-horizontal">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.AdvertiserId)

                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    @Html.LabelFor(model => model.SubCategoryId)
                                </div>

                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.SubCategoryId, (SelectList)ViewBag.Ddl_SubCategories, "-- qual a sub-categoria? --", new { @class = "form-control", @id = "subCategory_inModal" })
                                    @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div id="statusWithRadioButton_inModal" class="form-group">
                                <div class="col-sm-3 control-label">
                                    @Html.Label("status")
                                </div>

                                <div class="col-sm-9">
                                    <div id="registerStatus_row">
                                        @Html.RadioButtonFor(model => model.St, "on", new { htmlAttributes = new { @id = "st1_inModal" } })
                                        <span>ativo</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        @Html.RadioButtonFor(model => model.St, "off", new { htmlAttributes = new { @id = "st2_inModal" } })
                                        <span>inativo</span>
                                        @Html.ValidationMessageFor(model => model.St, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <br /><br />
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="btn-group btn-group-lg" role="group" aria-label="...">
                                        <button id="returnButton_inModal" type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true" title="fechar janela"><span class="glyphicon glyphicon-off"></span></button>
                                        <button id="resetButton_inModal" type="reset" class="btn btn-default" title="ignorar alterações"><span class="glyphicon glyphicon-refresh"></span></button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="btn-group btn-group-lg pull-right" role="group" aria-label="...">
                                        <button id="saveButton_inModal36d" type="submit" name="operation" value="save" class="btn btn-success submitButton" title="vincular à essa sub-categoria"><span class="glyphicon glyphicon-pushpin"></span></button>
                                        <button id="deleteButton_inModal" onclick="Mudarestado('deleteRegisterConfirm_inModal')" type="button" class="btn btn-warning" title="desvincular o registro"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>

                                <!-- div escondida para confirmação da exclusão do registro -->
                                <div id="deleteRegisterConfirm_inModal" class="col-sm-12" style="display:none;">

                                    <div class="form-group">

                                        <h2 style="text-align:center;color:red;">*** confirmar a retirada do vínculo ***</h2>

                                        <div class="col-md-6">
                                            <div class="pull-left" role="group">
                                                <button id="deleteButton_inModal" onclick="Mudarestado('deleteRegisterConfirm_inModal')" type="button" class="btn btn-default" title="retornar ao anunciante (fecha janela)">desistir</button>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="pull-right" role="group">
                                                <button type="submit" class="btn btn-warning" name="operation" value="delete" title="desvincular o registro"><span class="glyphicon glyphicon-remove"></span> desvincular !!!</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }<!-- fim do formulário -->
                              
                <br />
                <h6>obs: @ViewBag.SubCategoriesListNotLinkeds sub-categoria(s) disponível(is) de @ViewBag.SubCategoriesListTotal total (is)</h6>
            </div>
        </div><!-- /.modal-content -->
        <div class="modal-footer"></div>
    </div>
</div>
<script src="~/assets/stylesAndScripts/this/myScripts.js"></script>
<script>
    //  + theBegin: desabilita a edição de registros de acordo com o valor da ViewBag.Status
        $(document).ready(function () {
            
            var _op = "@ViewBag.Operation";
            console.log("operação: " + _op);

            if (_op == "v" || _op == "d") { // view ou delete
                //  + theBegin: desabilitando a edição
                    document.getElementById("subCategory_inModal").disabled = true;
                //  - theEnd: desabilitando a edição

                //  - theBegin: esconder trechos do formulário
                    if (_op == "d") { // delete
                        $('#deleteButton_inModal').show();
                    }
                    else {
                        $('#deleteButton_inModal').hide();
                    }
                    $('#resetButton_inModal').hide();
                    $('#saveButton_inModal36d').hide();

                    $('#statusWithRadioButton_inModal').hide(); // esconder os radios bottons de mudança do status do registro
                //  - theEnd: esconder trechos do formulário

            } else {

                //  + theBegin: habilitando a edição
                    document.getElementById("subCategory_inModal").disabled = false;
                //  - theEnd: habilitando a edição

                //  - theBegin: exibir trechos do formulário
                    if (_op == "a") { // add
                        $('#deleteButton_inModal').hide();
                        var _subCategoriesListNotLinkeds = @ViewBag.SubCategoriesListNotLinkeds;
                        console.log("_subCategoriesListNotLinkeds: " + _subCategoriesListNotLinkeds);
                        if (_subCategoriesListNotLinkeds == 0)
                        {
                            document.getElementById("saveButton_inModal36d").disabled = true;                            
                            $('#statusWithRadioButton_inModal').hide();
                        }
                    }
                    else {
                        $('#deleteButton_inModal').show();
                    }
                    $('#resetButton_inModal').show();
                    $('#saveButton_inModal36d').show();
                    $('#statusWithRadioButton_inModal').show(); // esconder os radios bottons de mudança do status do registro
                //  - theEnd: exibir trechos do formulário
            }
        });
    //  - theEnd: desabilita a edição de registros de acordo com o valor da ViewBag.Status
</script>




