<!-- footer -->
<div class="container-fluid" style="margin-bottom:0px;padding-bottom:0px;">
  
        @*@Html.Action("Footer_top")*@

    <div class="row myFooter">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <h3 class="color_light_2 m_bottom_20">destaques</h3>

            <article class="media">
                <a href="@Url.Action("Detalhes","Ofertas")" class="pull-left">
                    <img src="~/assets/images/fp_1.jpg" class="media-object" />
                </a>
                <a href="" class="link_noDecoration">
                    <h4 class="media-heading">
                        Cras sit amet nibh
                    </h4> Cras sit amet nibh libero, in gravida nulla.
                </a>                           
            </article>

            <article class="media">
                <a href="@Url.Action("Detalhes","Ofertas")" class="pull-left">
                    <img src="~/assets/images/fp_2.jpg" class="media-object" />
                </a>
                <a href="" class="link_noDecoration">
                    <h4 class="media-heading">
                        Cras sit amet nibh
                    </h4> Cras sit amet nibh libero, in gravida nulla.
                </a>
            </article>

            <article class="media">
                <a href="@Url.Action("Detalhes","Ofertas")" class="pull-left">
                    <img src="~/assets/images/latest_article_img_1.jpg" class="media-object" />
                </a>
                <a href="" class="link_noDecoration">
                    <h4 class="media-heading">
                        Cras sit amet nibh
                    </h4> R$ 53,00 (a partir)
                </a>
            </article>

            <article class="media">
                <a href="@Url.Action("Detalhes","Ofertas")" class="pull-left">
                    <img src="~/assets/images/latest_article_img_2.jpg" class="media-object" />
                </a>
                <a href="" class="link_noDecoration">
                    <h4 class="media-heading">
                        Cras sit amet nibh
                    </h4> R$ 61,00
                </a>
            </article>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <h3 class="color_light_2 m_bottom_20">nossos produtos</h3>
            <ul class="list-group myListPadding">
                <li><a class="link_noDecoration" href="">nova coleção</a></li>
                <li><a class="link_noDecoration" href="">os mais vendidos</a></li>                       
                <li><a class="link_noDecoration" href="">marcas</a></li>
                <li><a class="link_noDecoration" href="">fabricantes</a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <h3 class="color_light_2 m_bottom_20">sobre nós</h3>
            <ul class="list-group myListPadding">
                <li><a class="link_noDecoration" href="">quem somos</a></li>
                <li><a class="link_noDecoration" href="">política de privacidade</a></li>
                <li><a class="link_noDecoration" href="">termos &amp; condições</a></li>
                <li><a class="link_noDecoration" href="">política de trocas e devoluções</a></li>
                <li><a class="link_noDecoration" href="">contrato de compra e venda</a></li>
                <li><a class="link_noDecoration" href="">é confiável comprar nesse site?</a></li>
                <li><a class="link_noDecoration" href="">dúvidas frequentes</a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <h3>fale conosco</h3>
            <ul class="list-group list_noBullets">
                <li>
                    <address>
                        <i class="fa fa-map-marker pull-left"></i>
                        <p class="contact_e">Rua União, 454<br> Jundiaí/SP - Brasil</p>
                    </address>
                </li>
                <li>
                    <i class="fa fa-phone pull-left"></i>
                    <p class="contact_e">+55(11) 4807-3780</p>
                    <div class="clearfix m_bottom_10">
                                
                    </div>
                </li>
                <li class="m_bottom_10">
                    <div class="clearfix m_bottom_10">
                        <i class="fa fa-envelope pull-left"></i>
                        <a class="link_noDecoration" href="mailto:#">contato@t2.com.br</a>
                    </div>
                </li>
            </ul>
            <br />
            <h3>canais diretos</h3>
            <ul class="list-group myListPadding">
                <li><a class="link_noDecoration" href="@Url.Content("/Pages/TermsAndConditions")">seja um fornecedor</a></li>
                <li><a class="link_noDecoration" href="@Url.Content("/Pages/TermsAndConditions")">seja um parceiro marketplace</a></li>
                <li><a class="link_noDecoration" href="@Url.Content("/Pages/TermsAndConditions")">trabalhe conosco</a></li>
            </ul>
        </div>
    </div>
       
    <div class="row myFooterBottom">
        <br />
        <div class="text-center">
            <p>&copy; 2017 <span class="color_light">Rosana Scott Indica</span>. Todos os direitos reservados. Powered by <a href="http://www.logicinfo.com.br/"><strong>logic</strong>info</a></p>
            <ul class="list-inline">
                <li><img src="~/assets/images/logosAndIcons/payment_img_1.png" alt=""></li>
                <li><img src="~/assets/images/logosAndIcons/payment_img_2.png" alt=""></li>
                <li><img src="~/assets/images/logosAndIcons/payment_img_3.png" alt=""></li>
                <li><img src="~/assets/images/logosAndIcons/payment_img_4.png" alt=""></li>
                <li><img src="~/assets/images/logosAndIcons/payment_img_5.png" alt=""></li>
            </ul>
        </div>
    </div>
</div>
