@model rsi.Entities.User
@using rsi.Apps
@using rsi.Entities.configurations

<div class="user-panel">
    @{
        string _img = theSetup.noImage_path;
        string _userName = "";
        string _linkToUser = "#";
        string _userStatus = "off line";

        if (Model != null)
        {
            _img = Functions.__displayIconFileName(Model.FileName, "Users");
            _userName = Functions.__maximumSizeOfTheText(Model.UserFirstName, 20);
            _linkToUser = "/backEnd/Users/UserProfile/" + Model.Id.ToString();
            _userStatus = "on line";
        }

        <div class="pull-left image">
            <a href="@Url.Content(_linkToUser)"><img src="@Url.Content(_img)" class="img-circle" alt="User Image" width="50" /></a>
        </div>
        <div class="pull-left info">
            <p>@_userName</p>
            <a href="@Url.Content(_linkToUser)"><i class="fa fa-circle text-success"></i> @_userStatus</a>
        </div>
    }
</div>
