<!-- Destaques do dia id: offers1 -->
<section id="offers1">
    <div class="text-center">
        <h2>Destaques do dia</h2>
        <h3>Confira os descontos especiais de hoje:</h3>
    </div>

    <div class="container text-center">
        <!-- owl carousel-->
        <div id="owl-demo" class="container owl-demo">
            <figure class="item thumbnail imagemComLegendax">
                <img src="~/content/offers/1.jpg" />
                <figcaption class="legenda" style="margin:10px;">
                    <div class="legenda2">
                        <h4>Applebee´s São Paulo</h4>
                        <p>Alphavile, Iguatemi Campinas xxxx</p>
                    </div>
                    <div class="discount">
                        <span class="bola">47%</span>
                    </div>

                    <div class="ratings">
                        <p class="pull-right">15 comentários</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                    <a href="@Url.Action("Detalhes","Ofertas")">
                        <div class="caption">
                            <span>Crunchy Onion (half) e Prato Principal Specialties Plates</span>
                        </div>
                        <hr />
                        <div class="itemPrice">
                            <h4 class="pull-right"><s><small>50,00&nbsp;&nbsp;&nbsp;</small></s><span class="itemPrice_valor">R$24.99</span></h4>
                        </div>
                        <br />
                    </a>
                </figcaption>
            </figure>

            <figure class="item thumbnail imagemComLegendax">
                <img src="~/content/offers/2.jpg" />
                <figcaption class="legenda" style="margin:10px;">
                    <div class="legenda2">
                        <h4>Tantra - Granja Viana</h4>
                        <p>Granja Viana</p>
                    </div>
                    <div class="discount">
                        <span class="bola">25%</span>
                    </div>

                    <div class="ratings">
                        <p class="pull-right">15 comentários</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                    <a href="@Url.Action("Detalhes","Ofertas")">
                        <div class="caption">
                            <span>Mongollian Grill ou Couvert com Mogollian Grill e Sobremesa</span>
                        </div>
                        <hr />
                        <div class="itemPrice">
                            <h4 class="pull-right"><s><small>50,00&nbsp;&nbsp;&nbsp;</small></s><span class="itemPrice_valor">R$49,50</span></h4>
                        </div>
                        <br />
                    </a>
                </figcaption>
            </figure>

            <figure class="item thumbnail imagemComLegendax">
                <img src="~/content/offers/3.jpg" />
                <figcaption class="legenda" style="margin:10px;">
                    <div class="legenda2">
                        <h4>Terraço Sunset</h4>
                        <p>Santana</p>
                    </div>
                    <div class="discount">
                        <span class="bola">61%</span>
                    </div>

                    <div class="ratings">
                        <p class="pull-right">15 comentários</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                    <a href="@Url.Action("Detalhes","Ofertas")">
                        <div class="caption">
                            <span>Jantar para 2 pessoas com entrada e prato principal</span>
                        </div>
                        <hr />
                        <div class="itemPrice">
                            <h4 class="pull-right"><s><small>50,00&nbsp;&nbsp;&nbsp;</small></s><span class="itemPrice_valor">R$65.99</span></h4>
                        </div>
                        <br />
                    </a>
                </figcaption>
            </figure>

            <figure class="item thumbnail imagemComLegendax">
                <img src="~/content/offers/4.jpg" />
                <figcaption class="legenda" style="margin:10px;">
                    <div class="legenda2">
                        <h4>Kangoo Trampolin Park</h4>
                        <p>Vila Maia</p>
                    </div>
                    <div class="discount">
                        <span class="bola">27%</span>
                    </div>

                    <div class="ratings">
                        <p class="pull-right">15 comentários</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                    <a href="@Url.Action("Detalhes","Ofertas")">
                        <div class="caption">
                            <span>1 hora de trampolim. Muita diversão! Imperdível!</span>
                        </div>
                        <hr />
                        <div class="itemPrice">
                            <h4 class="pull-right"><span class="itemPrice_valor">R$32,00</span></h4>
                        </div>
                        <br />
                    </a>
                </figcaption>
            </figure>

            <figure class="item thumbnail imagemComLegendax">
                <img src="~/content/offers/5.jpg" />
                <figcaption class="legenda" style="margin:10px;">
                    <div class="legenda2">
                        <h4>KidsZania</h4>
                        <p>Pinheiros</p>
                    </div>
                    <div class="discount">
                        <span class="bola">15%</span>
                    </div>

                    <div class="ratings">
                        <p class="pull-right">4 comentários</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                    <a href="@Url.Action("Detalhes","Ofertas")">
                        <div class="caption">
                            <span>KidsZania: Ingresso para criança ou criança e adulto</span>
                        </div>
                        <hr />
                        <div class="itemPrice">
                            <h4 class="pull-right"><s><small>50,00&nbsp;&nbsp;&nbsp;</small></s><span class="itemPrice_valor">R$24.99</span></h4>
                        </div>
                        <br />
                    </a>
                </figcaption>
            </figure>

            <figure class="item thumbnail imagemComLegendax">
                <img src="~/content/offers/7.jpg" />
                <figcaption class="legenda" style="margin:10px;">
                    <div class="legenda2">
                        <h4>Equipe Playmobil de Baloonismo</h4>
                        <p>Boituva</p>
                    </div>
                    <div class="discount">
                        <span class="bola">51%</span>
                    </div>

                    <div class="ratings">
                        <p class="pull-right">15 comentários</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                    <a href="@Url.Action("Detalhes","Ofertas")">
                        <div class="caption">
                            <span>Vôo de balão para 1 ou 2 pessoas (exceto feriados)</span>
                        </div>
                        <hr />
                        <div class="itemPrice">
                            <h4 class="pull-right"><span class="itemPrice_valor">R$239.99</span></h4>
                        </div>
                        <br />
                    </a>
                </figcaption>
            </figure>

            <figure class="item thumbnail imagemComLegendax">
                <img src="~/content/offers/6.jpg" />
                <figcaption class="legenda" style="margin:10px;">
                    <div class="legenda2">
                        <h4>Pizzaria Monte Vero Itaim</h4>
                        <p>Itaim Bibi</p>
                    </div>
                    <div class="discount">
                        <span class="bola">68%</span>
                    </div>

                    <div class="ratings">
                        <p class="pull-right">15 comentários</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                    <a href="@Url.Action("Detalhes","Ofertas")">
                        <div class="caption">
                            <span>Pizza grande mussarela, margarita ou outras</span>
                        </div>
                        <hr />
                        <div class="itemPrice">
                            <h4 class="pull-right"><s><small>50,00&nbsp;&nbsp;&nbsp;</small></s>R$21.99</h4>
                        </div>
                        <br />
                    </a>
                </figcaption>
            </figure>

            <figure class="item thumbnail imagemComLegendax">
                <img src="~/content/offers/8.jpg" />
                <figcaption class="legenda" style="margin:10px;">
                    <div class="legenda2">
                        <h4>Auto Escola Mérito</h4>
                        <p>Lapa</p>
                    </div>
                    <div class="discount">
                        <span class="bola">47%</span>
                    </div>

                    <div class="ratings">
                        <p class="pull-right">15 comentários</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                    <a href="@Url.Action("Detalhes","Ofertas")">
                        <div class="caption">
                            <span>1a. habilitação A, B, AB ou mudança de categoria</span>
                        </div>
                        <hr />
                        <div class="itemPrice">
                            <h4 class="pull-right">a partir de <span class="itemPrice_valor">R$449.99</span></h4>
                        </div>
                        <br />
                    </a>
                </figcaption>
            </figure>

            <figure class="item thumbnail imagemComLegendax">
                <img src="~/content/offers/9.jpg" />
                <figcaption class="legenda" style="margin:10px;">
                    <div class="legenda2">
                        <h4>Bolix</h4>
                        <p>Ipiranga, Vila Mariana, Pinheiros, Pirituba</p>
                    </div>
                    <div class="discount">
                        <span class="bola">17%</span>
                    </div>

                    <div class="ratings">
                        <p class="pull-right">15 comentários</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                    <a href="@Url.Action("Detalhes","Ofertas")">
                        <div class="caption">
                            <span>1 hora de boliche para até 6 pessoas. Nas 4 Unidades!</span>
                        </div>
                        <hr />
                        <div class="itemPrice">
                            <h4 class="pull-right">a partir de <span class="itemPrice_valor">R$29.99</span></h4>
                        </div>
                        <br />
                    </a>
                </figcaption>
            </figure>
            <br />
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <a href="@Url.Action("Lista","Ofertas", new { id = 1})" class="btn btn-primary btn-lg pull-right">ver todas</a>
            </div>
        </div>
    </div>
</section>
