
@section slider
{
    @Html.Action("_sliderMain", "PageElements")
}

@Html.Action("_offersCarousel", "ShowCases")
<br />
<div class="text-center">
    <h2>NÃO PERCA</h2>
    <h3>Compre agora ou vai acabar!</h3>
</div>
@Html.Action("_offerFeatured", "ShowCases")
<br />
@Html.Action("_offersCarousel2", "ShowCases")
<br />
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-12">
            <h3 class="page-header text-center">8 ofertas em São Paulo</h3>
            @Html.Action("_offersRelated", "ShowCases")
        </div>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-12">
            <h3 class="page-header text-center">Procure por categoria</h3>
            @Html.Action("_categoriesBanners", "ShowCases")
        </div>
    </div>
</div>
